@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&family=Lato&family=Poppins:wght@300;400&family=Uncial+Antiqua&display=swap');

:root {
    --header-height: 20vh;
    --grey-color: rgb(15, 15, 15);
    --letter-color: rgba(255, 255, 255, 0.897);
    --border-color-inactive: rgba(0, 0, 0, 0.36);
    --border-active: #305ec4;
    --border-inValid: #fc3f3f;
    --border-valid: rgb(0, 156, 39);
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--grey-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header css */

header {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background-image: url(images/susan-wilkinson-DNCcYq71BSE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 8px 8px;
}

.opacity-layer {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: calc(var(--header-height) - 50%);
    background-color: rgba( 0, 0, 0, 0.5);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    font-family: 'Uncial Antiqua', cursive
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(var(--header-height) - 3vh);
    font-size: 0.85rem;
    color: black;
    font-family: 'Lato', sans-serif;
}

a, a:visited{
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}

p {
    line-height: 1.5rem;
    margin: 16px;
    font-family: 'Lato', sans-serif;
}

.intro-text {
    width: 80%;
}

/* main css */

.sign-up-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--letter-color);
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
    
}

.top-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0px 0px 2px;
    gap: 10px;
    background-color: rgba(25, 25, 25, 0.366);
}

.sign-up{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cells {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.input-cell {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: rgba(255, 255, 255, 0.366);
}

input {
    height: 30px;
    width: 50%;
    background-color: var(--grey-color);
    color: white;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--border-color-inactive);
    transition: 0.4s;
    text-align: center;
}

input:focus {
    border-color: var(--border-active);
    border-width: 2px;
}

input:valid {
    border-color: var(--border-valid);
    border-width: 2px;
}

.createBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.createAccount-btn {
    width: 60%;
    height: 45px;
    background-color: var(--grey-color);
    border-width: 1px;
    border-radius: 5px;
    border: none;
    background-color: #305ec4;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    font-family: 'Lato', sans-serif;

}

.log-in {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.login-btn {
    width: 40%;
    height: 25px;
    background-color: var(--grey-color);
    color: var(--border-active);
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    border: none;
}

.login-btn:hover {
    color: white;
    border-width: 2px;
    border: none;
}

/* css for landscape phones */

@media only screen and (min-width: 500px) {
    :root {
        --header-height: 30vh;
    }

    .link {
        top: calc(var(--header-height) - 5vh);
    }

    .intro-text {
        width: 70%;
    }

    input {
        width: 40%;
    }

    .createAccount-btn {
        width: 50%;
    }

    .log-in {
        height: 20vh;
    }
}

/* css for tablet portrait */

@media only screen and (min-height: 1080px) {
    :root {
        --header-height: 30vh;
    }

    header {
        border-radius: 0 0 15px 15px;
    }

    .link {
        top: calc(var(--header-height) - 4vh);
    }

    .log-in {
        height: 10vh;
    }
}

/* css for tablet landscape */

@media only screen and (min-width: 1080px) {
    :root {
        --header-height: 100vh;
    }

    body {
        flex-direction: row;
    }

    .opacity-layer {
        height: calc(var(--header-height) - 70%);
    }

    header {
        width: 70%;
    }

    p {
        text-align: left;
        margin-left: 40px;
    }

    .sign-up-section {
        align-items: flex-start;
    }

    .intro-container {
        align-items: flex-start;
    }

    .top-form {
        align-items: flex-start;
    }

    h4 {
        padding-left: 40px;
    }

    .cells {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 40px;
    }

    .input-cell {
        width: 40%;
        align-items: flex-start;
    }

    input {
        width: 90%;
        text-align: left;
    }

    .createBtnContainer {
        justify-content: flex-start;
        padding-left: 40px;
    }

    .log-in {
        height: 15vh;
    }

}

/* desktop portrait*/

@media only screen and (min-height: 1600px) {

    body {
        height: 100vh;
    }


}

/* desktop */

@media only screen and (min-width: 1600px) {

    main {
        width: 100%;
        justify-content: left;
    }

    .logo {
        font-size: 4rem;
    }

    p {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    label {
        font-size: 1.2rem;
    }

    input {
        font-size: 1.2rem;
        height: 35px;
    }

    .opacity-layer {
        height: calc(var(--header-height) - 70%);
    }

    .sign-up-section {
        width: 100%;
    }

    header {
        width: 45%;
    }

    .log-in {
        font-size: 1rem;
    }

    .createAccount-btn {
        width: 30%;
        border: solid 1px;
        border-color: var(--border-active);
        background-color: var(--grey-color);
        color: white;
        font-size: 1.2rem;
        transition: 0.4s;
    }

    .createAccount-btn:hover {
        border: none;
        background-color: var(--border-active);
        color: var(--grey-color);
    }
    
}
